<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="microsoft.web.preview" type="Microsoft.Web.Preview.Configuration.PreviewSectionGroup, Microsoft.Web.Preview">
      <section name="search" type="Microsoft.Web.Preview.Configuration.SearchSection, Microsoft.Web.Preview" requirePermission="false" allowDefinition="MachineToApplication"/>
      <section name="searchSiteMap" type="Microsoft.Web.Preview.Configuration.SearchSiteMapSection, Microsoft.Web.Preview" requirePermission="false" allowDefinition="MachineToApplication"/>
      <section name="diagnostics" type="Microsoft.Web.Preview.Configuration.DiagnosticsSection, Microsoft.Web.Preview" requirePermission="false" allowDefinition="MachineToApplication"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="AppDataBase" connectionString="Server=(local); user id=sa; password=sap; database=GTSNYC" providerName="System.Data.SqlClient" />
    <!--<add name="GTSNYCConnectionString" connectionString="Server=(local); user id=sa; password=sap; database=GTSNYC" providerName="System.Data.SqlClient" />
    <add name="DatabaseConnectionString" connectionString="Server=(local); user id=sa; password=sap; database=GTSNYC" providerName="System.Data.SqlClient" />-->
    <add name="GTSNYCConnectionString" connectionString="Data Source=GTSNYC.db.10127359.hostedresource.com;Initial Catalog=GTSNYC;Persist Security Info=True;User ID=GTSNYC;Password=gTSNYC@222" providerName="System.Data.SqlClient" />
  <add name="DatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <urlMappings configSource="UrlMappings.config"/>
    <customErrors mode="Off"/>
    <!-- 
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this 
          affects performance, set this value to true only 
          during development.
    -->
    <authentication mode="Forms"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Web.Preview, Version=1.3.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
      <buildProviders>
        <add extension="*.asbx" type="Microsoft.Web.Preview.Services.BridgeBuildProvider"/>
      </buildProviders>
    </compilation>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="AppDataBase" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" connectionStringName="AppDataBase" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.UI" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.UI.Controls" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.Search" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.Diagnostics" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="emagid" namespace="Emagid.Web.UI.WebControls" assembly="Emagid.Web"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="*.asbx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="GET" path="SearchSiteMaps.axd" type="Microsoft.Web.Preview.Search.SearchSiteMapHandler" validate="true"/>
      <add verb="*" path="Diagnostics.axd" type="Microsoft.Web.Preview.Diagnostics.DiagnosticsHandler" validate="true"/>
    </httpHandlers>
  </system.web>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" compilerOptions="/optioninfer+" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
    </compilers>
  </system.codedom>-->
  <!-- 
  The system.webServer section is required for running ASP.NET AJAX under Internet
  Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ASBXHandler" verb="GET,HEAD,POST" path="*.asbx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="SearchSiteMaps" preCondition="integratedMode" verb="GET" path="SearchSiteMaps.axd" type="Microsoft.Web.Preview.Search.SearchSiteMapHandler"/>
      <add name="Diagnostics" preCondition="integratedMode" verb="*" path="Diagnostics.axd" type="Microsoft.Web.Preview.Diagnostics.DiagnosticsHandler"/>
    </handlers>
  </system.webServer>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="site@gtsnyc.com">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\websites\myMail"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <location path="Systems2.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
    <location path="agreements.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
</configuration>